<!DOCTYPE html> 
<html> 
	<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>fzhwx开发者游戏-春哥在哪里？</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0;">
	<link rel="stylesheet"
	href="http://code.jquery.com/mobile/1.1.0-rc.2/jquery.mobile-1.1.0-rc.2.min.css" />
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script
	src="http://code.jquery.com/mobile/1.1.0-rc.2/jquery.mobile-1.1.0-rc.2.min.js"></script>
	<style type="text/css">
		.bg{
      		background:black; text-shadow:none; border-color:black
   		}
	</style>
</head>

<body> 

<div data-role="page">
	<div data-role="header" style="background: black;">
		<h1><span style="color: white">游 戏 规 则</span></h1>
	</div>
	<div data-role="content" style="line-height: 25px;">
    1. 从一群姚明中，找出李宇春
<br>2. 在60秒内找到一定数量的李宇春可以兑换奖品
<br>3. 奖品等级：
  <br>&nbsp;&nbsp;&nbsp;活动结束后，游戏分数排名前三的同学将依次获得一等奖、二等奖、三等奖
<br>4. 奖品：
  <br>&nbsp;&nbsp;&nbsp;三等奖 10M中国移动流量红包
  <br>&nbsp;&nbsp;&nbsp;二等奖 10M中国移动流量红包
  <br>&nbsp;&nbsp;&nbsp;一等奖 50M中国移动流量红包
	<p>
	<a href="#" class="bg" data-role="button" data-icon="back" data-rel="back">
		<font color="white">返&nbsp;&nbsp;&nbsp;&nbsp;回</font>
	</a>
</div>
	
	<div data-role="footer" data-position="fixed" style="background: black;" data-tap-toggle="false">
		<h1><span style="color: white">Copyright&nbsp;©&nbsp;2014-fzhwx开发者</span></h1>
	</div>
</div>

</body>
</html>

