<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8" />
  <title>北京遇上西雅图之不二情书|最火电影</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <meta content="telephone=no" name="format-detection" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta http-equiv="Cache-Control" content="no-transform" />
  <link href="http://7xo5av.com1.z0.glb.clouddn.com/globalneirong.css" rel="stylesheet" type="text/css" />
  <link href="http://7xo5av.com1.z0.glb.clouddn.com/tv.detail.css" rel="stylesheet" type="text/css" />
  <script src="http://qqmpwx.duapp.com/jscripts/jquery-2.1.1.min.js"></script>
 </head>
 <body>
  
  <section class="main">
   <div class="detailPosterIntro globalPadding clearfix">
    <div class="posterPic">
     <img src="http://ww4.sinaimg.cn/mw690/005XFR2Bjw1f40xyc67clj306o08wdgt.jpg" id="img"/>
    </div>
    <div class="introTxt">
     <h1>北京遇上西雅图之不二情书</h1>
     <div class="intro">
      <span class="blue">高清完结</span>
      <span>类型：电影</span>
      <span>年代：2016</span>
      <span>地区：未知</span>
      <span>语言：未知</span>
      <span>导演：未录入</span>
      <span>主演：未录入</span>
     </div>
    </div>
   </div>
   <div class="tabConList globalPadding">
    <div class="tabCon" style="display: block;">
     <dl class="tab2">
      <dd class="ckplayer" style="display: block;">
       <ul class="ulNumList clearfix list_1">
        <li class="yy"><a href="http://guazige.cn//film1/bjysxyt.html?xi第三方大夫第三方的身份" class="cur" target="_self">在线观看</a></li>
       </ul>
      </dd>
     </dl>
    </div>
    <div class="mod_b">
     <div class="th_b">
      <span class="sMark">同类型推荐</span>
     </div>
     <div class="tb_b">
      <ul class="picTxt picTxtA clearfix" id="resize_list"> 
       <div id="list">
        <li>
         <div class="con">
          <a href="#" target="_self" style="width: 139px; height: 185px;"><img src="" style="width:139px; height:185px;" /><span class="sTit">V字仇杀队</span></a>
         </div></li> 
        <li>
         <div class="con">
          <a href="#" target="_self" style="width: 139px; height: 185px;"><img src="" style="width:139px; height:185px;" /><span class="sTit">天兆</span></a>
         </div></li> 
        <li>
         <div class="con">
          <a href="#" target="_self" style="width: 139px; height: 185px;"><img src="" style="width:139px; height:185px;" /><span class="sTit">咒怨：黑少女</span></a>
         </div></li> 
       </div> 
      </ul>
     </div>
    </div>
   </div>
  </section>
  <footer class="footer">
   <p>免责声明：本站所有内容都是在互联网上自动搜集而来。</p>
   <p class="copyRight">Copyright&copy;阿伯影院（abyy008）|</p>
  </footer>

   <script type="text/javascript">
    $(function(){
		$("h1").text(decodeURIComponent(getParam("name")));
		$(".cur").attr("href", getParam("link"));
		$("title").text(getParam("name") + "|阿伯影院");
		$("#list a:eq(0)").attr("href", getParam("link1"));
		$("#list a:eq(1)").attr("href", getParam("link2"));
		$("#list a:eq(2)").attr("href", getParam("link3"));
		$("#list img:eq(0)").attr("src", getParam("img1"));
		$("#list img:eq(1)").attr("src", getParam("img2"));
		$("#list img:eq(2)").attr("src", getParam("img3"));
		$("#list span:eq(0)").text(getParam("name1"));
		$("#list span:eq(1)").text(getParam("name2"));
		$("#list span:eq(2)").text(getParam("name3"));
	});
	/*获取URL参数*/
	function getParam(name) {
		var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
		var r = window.location.search.substr(1).match(reg);
		if (r != null)return unescape(r[2]);
		return null;
	}
	</script>
 </body>
</html>